.container{
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.card{
    width: 500px;
}
.form-check-label:hover{
    cursor: pointer;
}
.list-group-item:hover{
    background-color: rgba(197, 197, 197, 0.475);

}